* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-image: url("../images/background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  color: white;
}

div {
  background-color: #1b3f69;
}
