* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-image: $base-bg;
    background-position: top;
    background-size: contain;
    background-repeat: $base-bg-repeat;
    color: $base-color;
}

div {
    background-color: $base-div-bg-color;
}